﻿@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    var ImageURL =  "/Content/images/system/empty.JPG";

}

<h2>Create Product</h2>



<form id="createProduct">

    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">
                            @category.Name
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" />
            </div>


            <label>Image</label>
            <input id="ImageURL" name="ImageURL" type="hidden" />
            <input id="imageUpload" name="Image" accept=".jpg, .png, .jpeg" type="file" />
        </div>

        <div class="col-md-4">
            <div class="thumb">
                <img src="@ImageURL" id="categoryImage" class="img-thumbnail img-fluid" />
            </div>
        </div>

    </div>

    <br />

    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="button" id="cancelBtn" class="btn btn-danger">Cancel</button>
</form>

<script>

    //Uploaded Image


    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
        }).done(function (response) {

            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });


    });


    //SAVE product

    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/Product/Create",
            data: $("#createProduct").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");


            focusAction("tableContiner");


        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>