﻿@model EditProductViewModel
@{
    ViewBag.Title = "Edit";

    var ImageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/empty.JPG";
}

<h2>Edit Product</h2>

<form id="editProduct">

    <div class="row">
        <div class="col-md-8">
            <input name="ID" value="@Model.ID" type="hidden" />


            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;
                        <option value="@category.ID" @selected>
                            @category.Name
                        </option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>

            <br />

            <div class="form-group">
                <label>Description</label>
                <input name="Description" class="form-control" value="@Model.Description" />
            </div>
            <br />
            <div class="form-group">
                <label>Price</label>
                <input name="Price" class="form-control" value="@Model.Price" />
            </div>
            <br />
            <label>Update Image</label>
            <div class="form-control">

                <input id="ImageURL" name="ImageURL" type="hidden" class="form-control" />
                <input id="imageUpload" name="Image" accept=".jpg, .png" type="file" />
            </div>
            <br />
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img src="@ImageURL" id="categoryImage" class="img-thumbnail img-fluid" />
            </div>
        </div>
    </div>

    <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
    <button type="button" id="cancelBtn" class="btn btn-danger">Cancel</button>
</form>

<script>
    $("#updateBtn").click(function () {
        //var searchValue = $("#searchTxt").val();

        $.ajax({
            type: "POST",
            url: "/Product/Edit",
            data: $("#editProduct").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
            focusAction("tableContiner");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });

    //Image Upload
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
        }).done(function (response) {

            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });


    });
</script>