﻿
@{
    ViewBag.Title = "Index";
}


@*<div>
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="newhBtn">New</button>
</div>*@

<div class="container">

    <div id="tableContiner">

        @{
            Html.RenderAction("ProductTable");
            //Html.RenderAction("Create");
        }


    </div>
    <hr />
    <div id="actionContainer">


    </div>
</div>

<script>
    function focusAction(ControlFocus) {
        $('html, body').animate({
            scrollTop: $("#" + ControlFocus).offset().top - 100
        }, 1000);
    }
</script>