﻿@model ProductSearchViewModel
@{
    ViewBag.Title = "ProductTable";
}

@*<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@
<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Products
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div>



<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetBtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <table id="ProductsTable" class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Product Name</th>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold wrap-td">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        @if (product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                        <button class="addtoCart" data-id="@product.ID">Add To Cart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div>
    @if (Model.Pager != null)
    {
        if (Model.Pager.CurrentPage > 1)
        {
            <button class="pageButtons" data-pageno="1">First</button>
            <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>

        }

        for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            var activePage = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
            <button class="@activePage pageButtons" data-pageno="@page">@page</button>

        }
        if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
            <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>


        }
    }
</div>

<script>


     $(".pageButtons").click(function () {

            $.ajax({
                url: "/Product/ProductTable",
                data: {
                    pageNo: $(this).attr("data-pageNo"),
                    search: '@Model.SearchTerm'
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
                focusAction("tableContiner");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


    //$("#ProductsTable").DataTable();


    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: "/Product/ProductTable",
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $("#tableContiner").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $("#resetBtn").click(function () {
        var searchValue = '';

        $.ajax({
            url: "/Product/ProductTable",
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $("#tableContiner").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $("#newBtn").click(function () {

        $.ajax({
            url: "/Product/Create",
        }).done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $(".editBtn").click(function () {
        debugger
        $.ajax({
            url: "/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
        }).done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $(".deleteBtn").click(function () {


        swal({
            title: "Confirm?",
            text: "Are you sure to delete this product??",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Product/Delete",
                        data: {
                            ID: $(this).attr("data-id")
                        }
                    })
                        .done(function (response) {
                            $("#tableContiner").html(response);

                            swal("Record Deleted Successfully!", {
                                icon: "success",
                            });
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Fail");
                        });
                }
            });


        //var confirmDelete = confirm("Are you sure to delete this product??");

        //if (confirmDelete) {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Product/Delete",
        //        data: {
        //            ID: $(this).attr("data-id")
        //        }
        //    }).done(function (response) {
        //        $("#tableContiner").html(response);
        //    }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
        //        alert("Fail");
        //    });
        //}

    });


    var products = [];
    $(".addtoCart").click(function () {


        var productID = $(this).attr("data-id");

        products.push(productID);
        $.cookie("CartProducts", products.join('-'));
        alert("Product Added to Cart");
    });
</script>