﻿@model List<Config>

@{
    ViewBag.Title = "ConfigurationTable";
}


<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Configurations
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div>

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>
                        </div>

                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetBtn">Reset</button>
                        </div>


                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
                <td class="wrap-td">Actions</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var configuratuion in Model)
            {
                <tr>
                    <td>@configuratuion.Key</td>

                    <td>@configuratuion.Value</td>
                    <td class="wrap-td">
                        <button class="editBtn" data-key ="@configuratuion.Key">Edit</button>
                        <button class="deleteBtn" data-key="@configuratuion.Key">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>

        $("#searchBtn").click(function () {
            var searchValue = $("#searchTxt").val();

            $.ajax({
                url: "/Configuration/ConfigurationTable",
                data: {
                    search: searchValue
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });

        $("#resetBtn").click(function () {
            var searchValue = '';

            $.ajax({
                url: "/Configuration/ConfigurationTable",
                data: {
                    search: searchValue
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
        $("#newBtn").click(function () {

            $.ajax({
                url: "/Configuration/Create",
            }).done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


        $(".editBtn").click(function () {
            $.ajax({
                url: "/Configuration/Edit",
                data: {
                    Key: $(this).attr("data-key")
                }
            }).done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


        $(".deleteBtn").click(function () {


            swal({
                title: "Confirm?",
                text: "Are you sure to delete this Category??",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: "/Configuration/Delete",
                            data: {

                                Key: $(this).attr("data-key")
                            }
                        })
                            .done(function (response) {
                                $("#tableContiner").html(response);

                                swal("Record Deleted Successfully!", {
                                    icon: "success",
                                });
                            })
                            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Fail");
                            });
                    }

                });
        });

</script>
