﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Configuration</h2>


<form id="createConfiguration">

    <div class="form-group">
        <label>Key</label>
        <input class="form-control" name="Key" />
    </div>

    <div class="form-group">
        <label>Value</label>
        <input class="form-control" name="Value" />
    </div>

    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="button" class="btn btn-danger" id="cancelBtn">Cancel</button>
</form>




<script>

    //Save
    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/Configuration/Create",
            data: $("#createConfiguration").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");

            focusAction("tableContiner");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });

</script>