﻿@model Config
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Configurations</h2>

<form id="editConfiguration">
    <div class="row">

        <div class="col-md-8">


            <div class="form-gorup">
                <label>Key</label>
                <input class="form-control" name="Key" value="@Model.Key" />
            </div>
            <br />

            <div class="form-group">
                <label>Value</label>
                <input class="form-control" name="Value" value="@Model.Value" />
            </div>

            <br />

        </div>
    </div>
    <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
    <button type="button" id="cancelBtn" class="btn btn-danger">Cancel</button>

</form>


<script>
    $("#updateBtn").click(function () {
        //var searchValue = $("#searchTxt").val();

        $.ajax({
            type: "POST",
            url: "/Configuration/Edit",
            data: $("#editConfiguration").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
            focusAction("tableContiner");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>