﻿@model CategorySearchViewModel
@{
    ViewBag.Title = "CategoryTable";
}


    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Categories
                </h2>
            </div><!-- /.title-section -->
        </div><!-- /.col-md-12 -->
    </div>

    <div>
        <form method="post">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Search</label>
                        <input class="form-control" id="searchTxt" name="Search" value="@Model.SearchTerm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Action</label>
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>
                            </div>

                            <div class="col-md-4 pr-0">
                                <button class="btn btn-primary form-control" type="button" id="resetBtn">Reset</button>
                            </div>

                            <div class="col-md-4 pr-0">
                                <button class="btn btn-primary form-control" type="button" id="newBtn">New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="font-weight-bold">Category Name</th>
                    <th class="font-weight-bold">Is Featured</th>
                    <th class="font-weight-bold wrap-td">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var category in Model.categories)
                {
                    <tr>
                        <td>@category.Name</td>

                        <td>@category.IsFeatured</td>
                        <td class="wrap-td">
                            <button class="editBtn" data-id="@category.ID">Edit</button>
                            <button class="deleteBtn" data-id="@category.ID">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            @if (Model.Pager != null)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                    <button class="pageButtons" data-pageno="1">First</button>
                    <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>

                }

                for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    var activePage = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
                    <button class="@activePage pageButtons" data-pageno="@page">@page</button>

                }
                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
                    <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>


                }
            }
        </div>

    </div>
    <script>

        $(".pageButtons").click(function () {

            $.ajax({
                url: "/Category/CategoryTable",
                data: {
                    pageNo: $(this).attr("data-pageNo"),
                    search: '@Model.SearchTerm'
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
                focusAction("tableContiner");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


        $("#searchBtn").click(function () {
            var searchValue = $("#searchTxt").val();

            $.ajax({
                url: '@Url.Action("CategoryTable", "Category")',  // "/Category/CategoryTable",
                data: {
                    search: searchValue
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });

                $("#resetBtn").click(function () {
                    var searchValue = '';
            $.ajax({
                url: '@Url.Action("CategoryTable", "Category")',  // "/Category/CategoryTable",
                data: {
                    search: searchValue
                }
            }).done(function (response) {
                $("#tableContiner").html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
        $("#newBtn").click(function () {

            $.ajax({
                url: "/Category/Create",
            }).done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


        $(".editBtn").click(function () {
            $.ajax({
                url: "/Category/Edit",
                data: {
                    ID: $(this).attr("data-id")
                }
            }).done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });


        $(".deleteBtn").click(function () {


            swal({
                title: "Confirm?",
                text: "Are you sure to delete this Category??",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: "/Category/Delete",
                            data: {
                                ID: $(this).attr("data-id")
                            }
                        })
                            .done(function (response) {
                                $("#tableContiner").html(response);

                                swal("Record Deleted Successfully!", {
                                    icon: "success",
                                });
                            })
                            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Fail");
                            });
                    }

                });
        });
        

    </script>
