﻿
@{
    ViewBag.Title = "Create";
    var ImageURL = "/Content/images/system/empty.JPG";

}

<h2>Create Category</h2>


<form id="createCategory">

    <div class="row">

        <div class="col-md-8">

            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input class="form-control" name="Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Is Featured?</label>
                <input name="IsFeatured" value="True" type="radio" />True
                <input name="IsFeatured" value="False" type="radio" />False
            </div>


            <label>Image</label>
            <input id="ImageURL" name="ImageURL" type="hidden" />
            <input id="imageUpload" name="Image" accept=".jpg, .png, .jpeg" type="file" />


        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img src="@ImageURL" id="categoryImage" class="img-thumbnail img-fluid" />
            </div>
        </div>

    </div>

    <br />

    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="button" class="btn btn-danger"id="cancelBtn">Cancel</button>
</form>




<script>

    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i =0; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
        }).done(function (response) {
             
            console.log(response);
            if (response.Success)
                {
                    $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });


    });


    //Validation
    $('#createCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: 'Name is Required',
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum Length is 500'
            }
        }
    })

    //Save
    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: "POST",
                url: "/Category/Create",
                data: $("#createCategory").serialize()
            }).done(function (response) {
                $("#tableContiner").html(response);
                $("#actionContainer").html("");
                focusAction("tableContiner");
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                swal({
                    title: "Warning",
                    text: "Please enter all required fields!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
            });
        }
        else {
            swal({
                title: "Warning",
                text: "Please enter all required fields!",
                icon: "warning",
                buttons: true,
                dangerMode: true,

            })
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });

    



</script>