﻿@model EditCategoryViewModel
@{
    ViewBag.Title = "Edit";
    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;
    var ImageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/empty.JPG";
}

<h2>Edit Category</h2>

<form id="editCategory">
    <div class="row">

        <div class="col-md-8">

            <input type="hidden" name="ID" value="@Model.ID" />

            <div class="form-gorup">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <br />

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>

            <br />

            <div class="form-control">
                <input id="ImageURL" name="ImageURL" type="hidden" class="form-control" />
                <input id="imageUpload" name="Image" accept=".jpg, .png" type="file" />
            </div>
            <br />
            <div class="form-group">
                <label>Is Featured?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input name="IsFeatured" type="radio" value="True" @trueChecked />True</label>
                    </div>

                    <div class="radio form-control">
                        <label><input name="IsFeatured" type="radio" value="False" @falseChecked />False</label>
                    </div>
                </div>
            </div>

            <br />

        </div>

        <div class="col-md-4">
            <div class="thumb">
                <img src="@ImageURL" id="categoryImage" class="img-thumbnail img-fluid" />
            </div>
        </div>
    </div>
    <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
    <button type="button" id="cancelBtn" class="btn btn-danger">Cancel</button>

</form>


<script>
    $("#updateBtn").click(function () {
        //var searchValue = $("#searchTxt").val();

        $.ajax({
            type: "POST",
            url: "/Category/Edit",
            data: $("#editCategory").serialize()
        }).done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
            focusAction("tableContiner");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });



    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });

    //Image Upload
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
        }).done(function (response) {

            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });


    });

</script>